URxvt.loginShell: true
URxvt.saveLines: 200000
URxvt.cutchars: "`\"'&()*,:;<=>?[\\]^{|}$"
URxvt.depth: 32
URxvt.foreground: rgb:e0/c3/ae
URxvt.background: [95]#000000
URxvt.color0: rgb:00/00/00
URxvt.color1: rgb:c0/00/00
URxvt.color2: rgb:00/c0/00
URxvt.color3: rgb:e0/80/00
URxvt.color4: rgb:00/00/c8
URxvt.color5: rgb:c0/00/c0
URxvt.color6: rgb:00/c0/c0
URxvt.color7: rgb:c0/c0/c0
URxvt.color8: rgb:54/54/54
URxvt.color9: rgb:fc/54/54
URxvt.color10: rgb:54/fc/54
URxvt.color11: rgb:fc/fc/54
URxvt.color12: rgb:54/54/fc
URxvt.color13: rgb:fc/54/fc
URxvt.color14: rgb:54/fc/fc
URxvt.color15: rgb:fc/fc/fc
URxvt.colorBD: rgb:fc/fc/fc
URxvt.font: xft:JetBrains Mono:style=Regular:size=10
URxvt.scrollBar: false
URxvt.visualBell: true
URxvt.fading: 15
URxvt.iconFile: /usr/local/share/icons/Arc-ICONS/apps/48/terminal.png
URxvt.perl-ext-common: default,matcher,font-size,fullscreen
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.keysym.F11: perl:fullscreen:switch
